/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* CSS Variables */
:root {
    /* Website colours */
    --background: #0b1222;
    --nav-background: #0f192e;
    --button-background: #1dc1bc;
    --button-hover: #57fff9;
    --nav-link: #4467b4;
    --primary: #fca311;
    --secondary: #d6d6d6;
    --text: #f5f5f5;
}

/* Keyframes animation */
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.1rem;
    background-color: var(--background);
    position: relative;
}

a {
    text-decoration: none;
}

.nav {
    background-color: var(--nav-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 20px;
    width: 100%;
    z-index: 500;
    overflow: hidden;
    top: 0;
}

.logo {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    margin-top: 15px;
}

#nav-list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.nav-list-show {
    display: flex;
}

.nav-list-hide {
    display: none;
}

#nav-list > li {
    list-style: none;
    text-align: center;
    transition: all 100ms;
}

#nav-list > li:hover {
    transform: scale(1.1);
}

.nav-link {
    text-decoration: none;
    color: var(--nav-link);
    font-weight: 700;
    transition: all 100ms;
}

.nav-link:hover {
    color: var(--primary);
}

.nav-link-active {
    color: var(--primary);
}

main {
    display: flex;
    flex-direction: column;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 290px;
    padding-inline: 25px;
    min-height: 100dvh;
    border-bottom: 1px solid var(--button-background);
}

main > section:last-of-type {
    padding-bottom: 150px;
    border-bottom: none;
}

section h1 span,
section h2 span {
    color: var(--primary);
}

section > h2 {
    margin-bottom: 25px;
}

h1 {
    font-size: 2.5rem;
}

#section-victor > p {
    font-size: 1.1rem;
    color: var(--primary);
    margin-block: 20px;
}

.button {
    width: fit-content;
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-background);
    box-shadow: 0 0 5px var(--button-hover);
    transition: all 300ms;
}

.button:hover {
    box-shadow: 0 0 10px var(--button-hover), 0 0 20px var(--button-hover), 0 0 20px #fff inset;
    cursor: pointer;
}

.social-media-buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-media-button i {
    font-size: 2.5rem;
    transition: all 100ms;
    color: var(--secondary);
    filter: drop-shadow(0px 0px 5px var(--nav-link));
}

.social-media-button i:hover {
    transform: scale(1.1);
    color: var(--primary);
}

#section-aboutme > p {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--secondary);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    gap: 40px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    box-shadow: 0px 0px 15px #000000;
    border-radius: 10px;
    overflow: hidden;
    transition: all 200ms;
}

.project-card:has(img:hover) {
    box-shadow: 0 0 10px var(--button-hover), 0 0 15px var(--button-hover);
    cursor: pointer;
}

.project-card > a {
    width: 300px;
    height: 180px;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 500ms;
}

.project-card img:hover {
    transform: scale(1.05);
}

.project-card-body {
    width: 100%;
    height: 100%;
    padding-block: 20px;
    padding-inline: 10px;
    background-color: var(--nav-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.project-card-body h3 {
    position: relative;
    color: var(--secondary);
}

.project-card-body p {
    font-size: 0.8rem;
}

.project-card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: auto;
}

.table {
    font-size: 0.9rem;
    vertical-align: text-top;
    border-collapse: collapse;
}

.table td {
    vertical-align: text-top;
    padding: 10px 5px;
}

.table td:first-child {
    text-wrap: nowrap;
}

.table td > p:first-child {
    background-color: var(--nav-link);
    padding: 5px 8px;
    border-radius: 5px;
    border-left: 4px solid var(--button-background);
}

.table td a {
    position: relative;
}

.table td a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.table td a:hover,
.table td a:hover i {
    color: var(--primary);
}

.table td a i {
    position: absolute;
    font-size: 0.5rem;
    margin-left: 5px;
    margin-top: 3px;
}

.table td > p:last-child {
    font-style: italic;
    font-size: 0.8rem;
    color: var(--secondary);
    margin-top: 5px;
}

#section-skills > section {
    margin-bottom: 30px;
}

#section-skills h3 {
    margin-bottom: 15px;
}

.badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px var(--button-background);
}

.badge svg {
    width: 20px;
    fill: var(--text);
}

#badge-html {
    background-color: #e34f26;
}

#badge-css {
    background-color: #1572b6;
}

#badge-js {
    background-color: #f7df1e;
}

#badge-js svg {
    fill: var(--nav-background);
}

#badge-js span {
    color: var(--nav-background);
}

#badge-sql {
    background-color: #4479a1;
}

#badge-php {
    background-color: #777bb4;
}

#badge-php svg {
    width: 25px;
}

#badge-sas {
    background-color: rgb(212, 204, 204);
}

#badge-sas span {
    color: var(--background);
}

#badge-laravel {
    background-color: #ff2d20;
}

#badge-laravel svg {
    width: 22px;
}

#badge-angular {
    background-color: #0f0f11;
}

#badge-bootstrap {
    background-color: #7952b3;
}

#badge-tailwind {
    background-color: #06b6d4;
}

#badge-vscode {
    background-color: #2c2828;
}

#badge-phpmyadmin {
    background-color: #6c78af;
}

#badge-postman {
    background-color: #ff6c37;
}

#badge-postman svg {
    width: 22px;
}

#badge-docker {
    background-color: #2496ed;
}

#section-contact > section > p {
    margin-bottom: 20px;
}

#section-contact article {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    border-left: 8px solid var(--nav-link);
    box-shadow: 0px 0px 10px var(--button-background);
}

#section-contact article p {
    color: var(--background);
    font-size: 0.8rem;
}

#section-contact article img {
    max-width: 30px;
}

/*** Media Queries ***/
/* Tabel view */
@media screen and (min-width: 768px) {
    .nav {
        height: 100dvh;
        width: 250px;
        gap: 50px;
    }

    .nav-list-hide {
        display: flex;
    }

    #hamburger-button {
        display: none;
    }

    main {
        margin-left: 250px;
    }

    main > section {
        padding-block: 100px;
        padding-inline: 25px;
        min-height: 100dvh;
    }

    main > section:last-of-type {
        padding-block: 100px;
    }
}

/* Desktop view */
@media screen and (min-width: 960px) {
    .project-list {
        justify-content: start;
    }

    #section-aboutme > p,
    #section-skills > section,
    #section-contact > section,
    .table {
        width: 75%;
    }
}
